<template>
    <div class="post">
      <b-alert show variant="warning">
    <b-icon icon="exclamation-circle-fill" variant="warning" font-scale="2" left></b-icon>
    <p1 style="color:black">โปรดอ่าน</p1>
    <p2 style="color:black">
      <br>ผู้ประมูลจะต้องดูรายละเอียดสินค้าให้ดีก่อนตัดสินใจประมูล เมื่อประมูลหรือสั่งซื้อไปแล้วจะไม่สามารถยกเลิกได้ในทุกกรณี
      <br>รายละเอียดสินค้าและสภาพสินค้าผู้ประมูลจะต้องเป็นผู้พิจารณาเอง ทางเรามีหน้าที่นำสินค้าเข้ามาให้เท่านั้น
    </p2>
  </b-alert>
  <b-container>
  <div class="post">
  <b-row  >
    <div >
    </div>
      <b-row >
    <b-col>
      <b-img thumbnail fluid :src="products[25]
.imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>

    </b-col>
  </b-row>
    <!-- col_2 -->
    <b-col >
            <b-row>
                <b-col><p style="color: black;font-size: 14px;">เวลาประมูล:</p></b-col>
                <b-col><p style="color: gray;font-size: 14px;">1 วัน</p></b-col>
                <b-col></b-col>
            </b-row>
            <b-row>
              <b-col><p1 style="color: black;font-size: 14px;">จำนวนผู้ประมูล:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">0</p1></b-col>
                <b-col></b-col>
            </b-row>
            <b-row>
                <b-col><p>ประมูลตอนนี้<p1 style="color: red;font-size: 14px;"></p1></p></b-col>
                <b-col><b-button v-b-toggle.collapse-2 class="m-1" variant="danger">ประมูลตอนนี้</b-button>
                  <b-collapse id="collapse-2">
    <b-card><b-button-toolbar aria-label="Toolbar with button groups and input groups">
    <b-button-group size="sm" class="mr-1">
      <b-button variant="success" to="/successpage">ตกลง</b-button>
      <b-button>ยกเลิก</b-button>
    </b-button-group>
    <b-input-group size="sm" prepend="$" append=".00">
      <b-form-input value="100" class="text-right"></b-form-input>
    </b-input-group>
  </b-button-toolbar></b-card>
  </b-collapse></b-col>
            </b-row>
            <b-row>
                <b-col><p1 style="color: black;font-size: 14px;">ราคาเริ่มต้นประมูล:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
.minimum_bid_price }}</p1></b-col>
                <b-col><p2 style="color: black;font-size: 14px;">บาท</p2></b-col>
            </b-row>
            <b-row>
                <b-col><p1 style="color: black;font-size: 14px;">รหัสสินค้า:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
._id }}</p1></b-col>
                <b-col></b-col>
            </b-row>
            <b-row>
                <b-col><p1 style="color: black;font-size: 14px;">สถานะ:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
.status }}</p1></b-col>
                <b-col></b-col>
            </b-row>

       <!-- 1 -->
        <b-row>
          <b-col><p1 style="color: black;font-size: 14px;">เวลาเริ่มเปิดประมูล:</p1></b-col>
          <p1 style="color: gray;font-size: 14px;">{{ remainingTime }}</p1>
                <b-col></b-col>
        </b-row>
        <!-- 2 -->
        <b-row>
          <b-col><p1 style="color: black;font-size: 14px;">เวลาปิดประมูล:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
.Auction_crossing_time}}</p1></b-col>
                <b-col></b-col>
        </b-row>
        <!-- 3 -->
        <b-row>
          <b-col><p1 style="color: black;font-size: 14px;">วันที่เริ่มเปิดประมูล:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
.Auction_start_date}}</p1></b-col>
                <b-col></b-col>
        </b-row>
        <!-- 4 -->
        <b-row>
          <b-col><p1 style="color: black;font-size: 14px;">วันที่ปิดประมูล:</p1></b-col>
                <b-col><p1 style="color: gray;font-size: 14px;">{{ products[25]
.Auction_crossing_date}}</p1></b-col>
                <b-col></b-col>
        </b-row>

  <p>รายละเอียดสินค้า</p><b-jumbotron bg-variant="white" text-variant="black" border-variant="dark">
        <template><h3 class="h4 mb-2"> <b-icon icon="exclamation-circle-fill"></b-icon>ข้อมูล</h3></template>
    <hr class="my-4">

    <p>
      {{ products[25]
.product_details}}
    </p>
  </b-jumbotron>

  <!-- col_3 -->

  </b-col>

  </b-row>
  </div>
  </b-container>

    </div>
  </template>
<script>

import axios from 'axios'
export default {
  data () {
    return {
      products: [],
      product_name: '',
      category: null,
      price: null,
      minimum_bid_price: null,
      Auction_start_time: '',
      Auction_crossing_time: '',
      Auction_start_date: '',
      Auction_crossing_date: '',
      imagePath: null,
      status: null,
      product_details: '',
      slide: 0,
      sliding: null,
      remainingTime: ''
    }
  },
  mounted () {
    this.getProduct()
    this.id = JSON.parse(localStorage.getItem('id'))
    console.log('OK')
    const intervalId = setInterval(() => {
      const now = new Date().getTime()
      const endTime = new Date(this.products[25]
        .Auction_start_time).getTime()
      const distance = endTime - now
      if (distance < 0) {
        clearInterval(intervalId)
        this.remainingTime = 'Auction has ended'
      } else {
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
        const seconds = Math.floor((distance % (1000 * 60)) / 1000)
        this.remainingTime = `เวลาจะหมดใน ${minutes} นาที ${seconds} วินาที`
      }
    }, 1000)
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    computed: {
      post () {
        return this.post.find((post) => post.id === this.id)
      }
    },
    getProduct () {
      var self = this
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        self.products = response.data
        // this.productItem = response.data
        console.log(response.data)
      })
    }
  }
}
</script>
  <style>
  div {
  text-align: justify;
  text-justify: inter-word;
  }
  post {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .post img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  </style>
