<template>
  <div class="about">

    <b-card bg-variant="info" text-variant="white" header="เกี่ยวกับเรา" class="mb-4">
        <b-card-text>เว็บไซต์ BIDBID มิได้เป็นคนขายสินค้าเอง
เป็นเพียงตัวกลางในการนำเข้าให้จากคนขายถึงผู้ซื้อเท่านั้น
 ก่อตั้งขึ้นมาเพื่อให้ผู้ซื้อและผู้ขายสมความปรารถนา
คนขายได้ขายสินค้า ผู้ซื้อได้สินค้าที่ถูกใจ และเราได้ค่าบริการค่ะ</b-card-text>
      </b-card>

      <b-card header="ติดต่อเรา" class="mb-4" tyle="padding: 10pt;">
        <b-card-text>เลขที่ 108/7-8 ถนนมาบมะยม, ตำบลแสนสุข, อำเภอเมืองชลบุรี
อำเภอเมืองชลบุรี, จังหวัดชลบุรี, 20130<br>
Tel: 099-999-9999<br>
Line: <a href="https://www.google.com" style="color: blue;">@bidbid</a> <br>

Inbox Facebook: <a href="https://www.google.com" style="color: blue;">Click</a> <br>
<a href="https://www.google.com" style="color: blue;">https://www.Facebook.com</a>
</b-card-text>
      </b-card>
  </div>
</template>
<script>

export default {
  data () {
    return {}
  },

  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}</script>
