<template >
    <div>
        <b-container>
            <b-row>
                <b-col class="text-right">

                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <!-- <b-form-checkbox v-model="hover" :aria-describedby="ariaDescribedby" inline>Hover</b-form-checkbox> -->
                    <b-table :items="productItem" :fields="fields" :hover="hover">
                        <template #cell(operators)="{ item }">

                            <b-button @click="editProduct(item)" >เเก้ไข</b-button><b-button  @click="deleteProduct(item)"
                                class="ml-1" variant="danger">ลบ</b-button>

                        </template>

                        <template #table-caption>ตารางสินค้า</template></b-table>

                </b-col>
            </b-row>
        </b-container>

    </div>
</template>
<script>

export default {

  methods: {
    editProduct (item) {

    },
    deleteProduct (item) {

    },
    addNew () {}
  },

  data () {
    return {
      fields: [
        { key: 'productId', label: 'รหัสสินค้า' },
        { key: 'productname}', label: 'ชื่อสินค้า' },
        { key: 'category', label: 'หมวดหมู่สินค้า' },
        { key: 'starting_bid_price', label: 'ราคาเริ่มต้นประมูล' },
        { key: 'minimum_bid_price', label: 'ราคาบิดประมูล' },
        { key: 'Auction_start_time', label: 'เวลาเริ่มประมูล' },
        { key: 'Auction_crossing_time', label: 'เวลาปิดประมูล' },
        { key: 'Auction_start_date', label: 'วันที่เริ่มประมูล' },
        { key: 'Auction_crossing_date', label: 'วันที่ปิดประมูล' },
        { key: 'imagePath', label: 'รูปภาพ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'product_details', label: 'ข้อมูลสินค้า' },
        { key: 'operators', label: 'กระบวนการ' }
      ],

      productItem: [
        {
          productId: 1,
          productname: 'หมัดปืนยางยืด',
          category: 'ของเล่นเเละเกม',
          starting_bid_price: 100,
          minimum_bid_price: 20,
          Auction_start_time: 'T15:30:00',
          Auction_crossing_time: 'T15:30:00',
          Auction_start_date: '2022-02-21',
          Auction_crossing_date: '2022-02-22',
          imagePath: ' path/to/default/image.png',
          status: 'open',
          product_details: 'none'
        },
        {
          productId: 2,
          productname: 'บาซูก้ายางยืด',
          category: 'ของเล่นเเละเกม',
          starting_bid_price: 100,
          minimum_bid_price: 20,
          Auction_start_time: 'T15:30:00',
          Auction_crossing_time: 'T15:30:00',
          Auction_start_date: '2022-02-21',
          Auction_crossing_date: '2022-02-22',
          imagePath: ' path/to/default/image.png',
          status: 'open',
          product_details: 'none'
        }

      ],
      hover: false
    }
  }
}
</script>
