<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/BID2.png" width="50%">
    <HelloWorld msg="ยินดีต้อนรับสู่เว็บประมูลของ"/>
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style>
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cream; /* เพิ่มสีพื้นหลัง */
}

.home h1 {
  height: 50px;
  line-height: 50px;
}
</style>
