<template lang="">
    <Auth>
    <div>
      <b-card bg-variant="danger" text-variant="white" header="สินค้าที่ห้ามประมูล" class="mb-4">
        <b-card-text  style="text-align: left;">BIDBID รวบรวมของที่ไม่สามารถนำเข้าประมูลมาให้ลูกค้าได้<br>
ถ้าสั่งสินค้าต้องห้ามจากเว็บประมูลมา ทางเราจำเป็นจะต้องขอยกเลิกการสั่งซื้อให้นะครับ<br>
หากไม่มั่นใจควรติดต่อสอบถามกับ Admin ก่อนครับ<br>
1.สิ่งเทียมอาวุธ ปืน BBGun, อุปกรณ์ที่ลักษณะคล้ายปืน, เครื่องกระสุน, วัตถุระเบิด, ดอกไม้เพลิง<br>

2.วัตถุลามก ไม่ว่าจะอยู่ในรูปแบบหนังสือ ภาพเขียน ภาพพิมพ์ ภาพระบายสี สิ่งที่พิมพ์ขึ้น รูปภาพ ภาพโฆษณา เครื่องหมาย รูปถ่าย และภาพยนตร์ลามกหรือวัตถุลามกอื่น ๆ<br>

3.สินค้าที่มีตราหรือลวดลายเป็นรูปธงชาติ<br>

4.ยาเสพติดให้โทษ<br>

5.เงินตรา พันธบัตร ใบสำคัญรับดอกเบี้ยพันธบัตรอันเป็นของปลอมหรือแปลง เหรียญกษาปณ์ที่ทำให้น้ำหนักลดลงโดยทุจริต ดวงตราแผ่นดิน รอยตราแผ่นดินหรือพระปรมาภิไธย ดวงตราหรือรอยตราของทางราชการอันเป็นของปลอม<br>

6.สินค้าละเมิดลิขสิทธิ์ เช่น แถบบันทึกเสียง (เทปเพลง) แผ่นบันทึกเสียง (คอมแพคดิสก์) แถบบันทึกภาพ (วีดีโอเทป) โปรแกรม คอมพิวเตอร์ หนังสือ หรือสินค้าอื่นใดที่ทำซ้ำหรือดัดแปลงงานอันมีลิขสิทธิ์ของผู้อื่น<br>

7.สินค้าปลอมแปลงหรือเลียนแบบเครื่องหมายการค้า<br>

8.งาช้าง หรือผลิตภัณฑ์ที่ทำจากงาช้าง<br>

9.สัตว์ป่าสงวน หรือสัตว์ที่อยู่ในบัญชีควบคุมของอนุสัญญาไซเตส<br>

10.เชื้อเพลิงต่างๆ น้ำมัน, แก๊สกระป๋อง, แก๊สหุงต้ม, ไม้ขีดไฟ และไฟแช็คที่มีแก๊ส<br>

11.รถยนต์และจักรยานยนต์<br>

12.ยา เชื้อโรค และพิษจากสัตว์<br>

13.สารอันตรายอื่นๆ: วัสดุแม่เหล็ก, ดรายไอซ์, วัตถุที่มีผลเสียแก่มนุษย์<br>

14.วัสดุซึกกร่อน: แบตเตอรี่รถยนต์, ตะกั่ว, กรดซัลฟูริค, กรดไฮโดคลอลิค, กรดอะซิติค, สารโซเดียมไฮเดรท, สารโพแทสเซียมไฮเดรท<br>

15.สารกัมมันตภาพรังสี: พูโตเนียม, เรเดียม, ยูเรเนียม, ซีเซียม<br>

16.วัตถุมีพิษ: ยาฆ่าแมลง, สารเคมีทางเกษตร, ยาฆ่าเชื้อ, สารประกอบปรอท, แบคทีเรีย, ไวรัส, ของเสียทางการแพทย์<br>

17.วัตถุออกซิไดซ์: เครื่องกำเนิดออกซิเจน, สารละลายไฮโดรเจน เพอรอกไซด์, ปุ๋ยแอมโมเนียมไนเตรท, น้ำยาซักผ้าขาว</b-card-text>
      </b-card>
    </div>
    </Auth>
</template>
<script>
// import Auth from '../components/Auth'
// import { getProducts } from '../services/product'
// export default {
//   async mounted () {
//     const product = await getProducts()
//     console.log(product)
//   },
//   components: {
//     Auth
//   }

// }
</script>
<style lang="">

</style>
