<template >
    <div>
        <b-container>
            <b-row>
                <b-col class="text-right">
<ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <!-- <b-form-checkbox v-model="hover" :aria-describedby="ariaDescribedby" inline>Hover</b-form-checkbox> -->
                    <b-table :items="productItem" :fields="fields" style="background-color:  #9FE2BF;">

                        <template #cell(operators)="{ item }">
                          <b-button @click="editProduct(item)" variant="primary" class="mr-1" style="width: 80px; height: 30px; margin-right: 10px;">เเก้ไข</b-button>
<b-button @click="deleteProduct(item)" variant="danger" class="ml-1" style="width: 80px; height: 30px;">ลบ</b-button>

                        </template>

                        <template #table-caption>ตารางสินค้า</template></b-table>

                </b-col>
            </b-row>
        </b-container>

    </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'

export default {
  components: {
    ProductForm
  },

  methods: {
    makeToast (title, message, append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('Submit', product)
      if (product._id === '') { // AddNew
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProduct()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า' + newProduct._id + 'ถูกเพิ่มแล้ว')
          }.bind(this)
        )
      } else { // Update
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            this.getProduct()
          }.bind(this)
        )
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            this.getProduct()
          }.bind(this)
        )
      }
    },
    getProduct () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItem = response.data
      }.bind(this))
    }
  },

  data () {
    return {
      fields: [
        { key: '_id', label: 'รหัสสินค้า' },
        { key: 'product_name', label: 'ชื่อสินค้า' },
        { key: 'category', label: 'หมวดหมู่สินค้า' },
        { key: 'price', label: 'ราคาเริ่มต้นประมูล' },
        { key: 'minimum_bid_price', label: 'ราคาบิดประมูล' },
        { key: 'Auction_start_time', label: 'เวลาเริ่มประมูล' },
        { key: 'Auction_crossing_time', label: 'เวลาปิดประมูล' },
        { key: 'Auction_start_date', label: 'วันที่เริ่มประมูล' },
        { key: 'Auction_crossing_date', label: 'วันที่ปิดประมูล' },
        { key: 'imagePath', label: 'รูปภาพ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'product_details', label: 'ข้อมูลสินค้า' },
        { key: 'operators', label: 'กระบวนการ' }
      ],

      productItem: [
        {
          _id: '',
          product_name: 'หมัดปืนยางยืด',
          category: 'ของเล่นเเละเกม',
          price: 100,
          minimum_bid_price: 20,
          Auction_start_time: '15:30:00',
          Auction_crossing_time: '15:30:00',
          Auction_start_date: '2022-02-21',
          Auction_crossing_date: '2022-02-22',
          imagePath: null,
          status: 'open',
          product_details: 'none'
        },
        {
          _id: '',
          product_name: 'บาซูก้ายางยืด',
          category: 'ของเล่นเเละเกม',
          price: 100,
          minimum_bid_price: 20,
          Auction_start_time: '15:30:00',
          Auction_crossing_time: '15:30:00',
          Auction_start_date: '2022-02-21',
          Auction_crossing_date: '2022-02-22',
          imagePath: null,
          status: 'open',
          product_details: 'none'
        }

      ],
      IDproduct: 11,
      selectedItem: null
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
<style >

</style>
