<template>
  <div style="padding: 15pt;">
    <b-button @click="addNew" variant="primary" >เพิ่มสินค้า</b-button>
    <b-modal
    id ="modal-product"
    ref="modalProduct"
    title="สินค้า"
    @show="showModal"
    @hiden="resetModal"
    @ok="handleok">
    <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
      <b-form-group
        id="input-group-product-name"
        label="ชื่อสินค้า:"
        label-for="product-name"
      >
        <b-form-input
        id="input-group-product-name"
          v-model="form.product_name"
          type="text"
          placeholder="ชื่อสินค้า"
          :state="validateName"

        ></b-form-input>
        <b-form-invalid-feedback :state="validateName">
          ชื่อสินค้าความยาวอย่างน้อย 3 ตัวอักษร
        </b-form-invalid-feedback>
      </b-form-group>
<!-- ราคาสินค้าเริ่มต้น -->
      <b-form-group
      id="input-group-product-price"
        label="ราคาสินค้าเริ่มต้น:"
        label-for="product-price"
      >
        <b-form-input
        id="input-group-product-price"
          v-model="form.price"
          type="number"
          placeholder="ราคา"
          :state="validatePrice"

        ></b-form-input>
        <b-form-invalid-feedback  :state="validatePrice">
          ราคาสินค้าต้องไม่น้อยกว่าหรือเท่ากับ 0 บาท
        </b-form-invalid-feedback>
      </b-form-group>
<!-- ราคาบิดเริ่มต้น -->
      <b-form-group
      id="input-group-minimum-price"
        label="ราคาบิดเริ่มต้น:"
        label-for="input-1"
      >
        <b-form-input
        id="input-group-minimum-price"
          v-model="form.minimum_bid_price"
          type="number"
          placeholder="บิดเริ่มที่..."
          :state="validateMinimumPrice"

        ></b-form-input>
        <b-form-invalid-feedback :state="validateMinimumPrice">
          ราคาบิดเริ่มต้นต้องไม่น้อยกว่าหรือเท่ากับ 0 บาท
        </b-form-invalid-feedback>
      </b-form-group>
      <!-- หมวดหมู่สินค้า -->
      <b-form-group id="input-group-3" label="หมวดหมู่สินค้า:" label-for="input-3">
        <b-form-select
        id="input-group-product-category"
          v-model="form.category"
          :options="categorys"

        ></b-form-select>
      </b-form-group>
      <!-- สถานะ -->
      <b-form-group id="input-group-4" v-slot="{ ariaDescribedby }">
        <b-form-checkbox-group
          v-model="form.status"
          id="checkboxes-4"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox value="เปิด">เปิดประมูล</b-form-checkbox>
          <b-form-checkbox value="ปิด">ปิดประมูล</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
      <!-- เวลาเริ่มต้น -->
      <b-form-group
      id="input-group-Start-time"
        label="เวลาเปิดประมูล:"
        label-for="input-1"
      >
        <b-form-input
        id="input-group-Start-time"
          v-model="form.Auction_start_time"
          type="string"
          placeholder="00:00:00"

        ></b-form-input>

      </b-form-group>

<!-- เวลาปิด -->
<b-form-group
      id="input-group-Crossing-time"
        label="เวลาปิดประมูล:"
        label-for="input-1"
      >
        <b-form-input
        id="input-group-Crossing-time"
          v-model="form.Auction_crossing_time"
          type="string"
          placeholder="00:00:00"

        ></b-form-input>

      </b-form-group>
<!-- วันเปิด -->
<b-form-group
      id="input-group-Start-date"
        label="วันเปิดประมูล:"
        label-for="input-1"
      >
        <b-form-input
        id="input-group-Start-date"
          v-model="form.Auction_start_date"
          type="string"
          placeholder="YYYY-MM-DD"

        ></b-form-input>

      </b-form-group>
<!-- วันปิด -->
<b-form-group
      id="input-group-Crossing-date"
        label="วันปิดประมูล:"
        label-for="input-1"
      >
        <b-form-input
        id="input-group-Crossing-date"
          v-model="form.Auction_crossing_date"
          type="string"
          placeholder="YYYY-MM-DD"

        ></b-form-input>

      </b-form-group>
<b-row style="padding: 10pt;">
<b-col> อัปโหลดรูปภาพ
</b-col>
<b-col>
  <b-form-file v-model="selectedFile" @change="onFileChange"></b-form-file>
  <div v-if="selectedFile">
    <b-img v-if="form.imagePath" :src="form.imagePath" :width="500" :height="500" fluid alt="Selected Image" style="padding: 10pt;"></b-img>
    <div v-else>
      <p>ไม่สามารถแสดงรูปภาพได้ เนื่องจากไฟล์ที่เลือกไม่ถูกต้องหรือไม่ได้รับการอนุญาต</p>
    </div>
  </div>
</b-col>
</b-row>

<!-- ข้อมมูลสินค้า -->
      <b-form-textarea
    id="textarea"
    v-model="form.product_details"
    placeholder="เขียนบางอย่าง..."
    rows="3"
    type="string"
    max-rows="6"
    style="padding: 10pt;"
    :state="validateText"
  >
  <b-form-invalid-feedback :state="validateText">
          ตัวอักษรต้องไม่น้อยกว่า 10 ตัวอักษร
        </b-form-invalid-feedback></b-form-textarea >

      <!-- <b-button type="submit" variant="primary" >Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button> -->
    </b-form>
    <b-card style="padding: 10pt;">
      <pre >{{ form }}</pre>
    </b-card>
  </b-modal>
</div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    product: Object

  },
  data () {
    return {

      selectedFile: null,
      form: {
        _id: '',
        product_name: '',
        category: null,
        price: null,
        minimum_bid_price: null,
        Auction_start_time: '',
        Auction_crossing_time: '',
        Auction_start_date: '',
        Auction_crossing_date: '',
        status: null,
        product_details: '',
        imagePath: null
      },
      label: 'ไม่ได้เลือกไฟล์ภาพ', // set initial label,
      isAddNew: false,
      categorys: [{ text: 'เลือก', value: null }, 'ของเล่นเเละเกม', 'วัฒนธรรมเเละงานอดิเรก', 'ของสะสมไอดอล',
        'ของโบราณและของสะสม', 'กีฬา', 'รถยนต์และมอเตอร์ไซค์', 'แฟชั่น', 'เครื่องประดับและนาฬิกา', 'สุขภาพและความงาม',
        'อาหารและเครื่องดื่ม', 'บ้านและการตกเเต่งภายใน', 'เครื่องเขียน อุปกรณ์',
        'อุปกรณ์การเกษตร ดอกไม้ พืชสวน',
        'สินค้าสำหรับเด็ก', 'สินค้าการ์ตูนและอนิเมะ', 'อื่นๆ']
    }
  },
  computed: {
    validateName () {
      return this.form.product_name.length >= 3
    },
    validatePrice () {
      return this.form.price !== '' && this.form.price >= 0
    },
    validateMinimumPrice () {
      return this.form.minimum_bid_price !== '' && this.form.minimum_bid_price >= 0
    },
    validateText () {
      return this.form.product_details.length >= 3
    },
    validateForm () {
      return this.validateName && this.validatePrice && this.validateMinimumPrice && this.validateText
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },

    submit (event) {
      const product = JSON.parse(JSON.stringify(this.form))
      product.price = parseFloat(product.price)
      product.minimum_bid_price = parseFloat(product.minimum_bid_price)
      this.$emit('save', product)
      this.reset()
    },
    reset (event) {
      this.form = {
        _id: '',
        product_name: '',
        category: null,
        price: null,
        minimum_bid_price: null,
        Auction_start_time: '',
        Auction_crossing_time: '',
        Auction_start_date: '',
        Auction_crossing_date: '',
        status: null,
        product_details: '',
        imagePath: null

      }
      // Trick to reset/clear native browser form validation state
    },

    showModal (event) {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.product._id
        this.form.product_name = this.product.product_name
        this.form.category = this.product.category
        this.form.price = this.product.price
        this.form.minimum_bid_price = this.product.minimum_bid_price
        this.form.Auction_start_time = this.product.Auction_start_time
        this.form.Auction_crossing_time = this.product.Auction_crossing_time
        this.form.Auction_start_date = this.product.Auction_start_date
        this.form.Auction_crossing_date = this.product.Auction_crossing_date
        this.form.imagePath = this.product.imagePath
        this.form.status = this.product.status
        this.form.product_details = this.product.product_details
      }
    },

    onFileChange (event) {
      const file = event.target.files[0]
      const imagePath = URL.createObjectURL(file)

      this.form.imagePath = imagePath // set imagePath in form object

      // Send the imagePath to server to be stored in database
      axios.post('/api/save-image', { imagePath: imagePath })
        .then(response => {
          console.log(response.data)
        })
        .catch(error => {
          console.log(error)
        })

      this.selectedFile = file // set selectedFile in Vue data
    },
    handleok (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    },
    resetModal (event) {
      this.reset()
    }

  }
}
</script>
