<template>
  <div class="hello">
    <button @click="login()" v-if ="!isLogin">Login</button>
    <h1>{{ loginString  }}</h1>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    login () {
      this.$router.push('/login')
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    loginString () {
      return this.$store.getters['auth/isLogin'] ? 'Login' : 'Logout'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
