<template >
  <div class="app-menu min-vh-100">
   <b-img  src="../assets/BID2.png" width="150%" center style="padding: 10pt;"></b-img>
   <b-nav vertical class="b-nav">
  <router-link to="/">Home</router-link>
  <b-nav-item to="./App">หน้าหลัก</b-nav-item>
  <b-nav-item to="./ProductTable">ProductTable</b-nav-item>
</b-nav>
<b-dropdown split text="หมวดหมู่สินค้า" class="m-2" >
 <b-dropdown-item to ="/Toy" href="#">ของเล่นเเละเกม</b-dropdown-item>
 <b-dropdown-item to ="/Sports" href="#">กีฬา</b-dropdown-item>
 <b-dropdown-item to ="/Cars_and_motorcycles" href="#">รถยนต์และมอเตอร์ไซค์</b-dropdown-item>
 <b-dropdown-item to ="/Fashion" href="#">แฟชั่น</b-dropdown-item>
 <b-dropdown-item to ="/Jewelry_and_watches" href="#">เครื่องประดับและนาฬิกา</b-dropdown-item>
 <b-dropdown-item to ="/Writing_equipment_and_tools" href="#">เครื่องเขียน อุปกรณ์</b-dropdown-item>
 <b-dropdown-item to ="/Children_products" href="#">สินค้าสำหรับเด็ก</b-dropdown-item>
 <b-dropdown-item to ="/Idol_merchandise" href="#">ของสะสมไอดอล</b-dropdown-item>
 <b-dropdown-item to ="/Anime_and_manga_products" href="#">สินค้าการ์ตูนและอนิเมะ</b-dropdown-item>
 <b-dropdown-item to ="/Others" href="#">อื่นๆ</b-dropdown-item>
</b-dropdown>
<!-- <b-nav-item to="./Manager">จัดการหลังร้าน(ชั่วคราว)</b-nav-item>
<b-nav-item to="./DataTable">เมนูสินค้า</b-nav-item> -->
<!-- <b-button @click="logout()"  v-if="isLogin"> Logout</b-button> -->

<router-link to="/product">สินค้าที่ห้ามประมูล</router-link>
  <router-link to="/about">เกี่ยวกับเรา</router-link>

  <b-button @click="logout()" v-if="isLogin" class="is-danger">Logout</b-button>
</div>

</template>
<script>
export default {
  data () {
    return {

    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }

  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}

</script>
<style >
.app-menu{
  background-color: #FF7F50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
color: black;

}
.nav-link:hover {
color: #454545;
}
a {
  color: black;
}
a:hover {
  color: #454545;
}
.b-button.is-danger {
  background-color: red;
  color: white;
  margin-top: auto;
  margin-bottom: 10px;
}.b-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-button.is-danger {
  background-color: red;
  color: white;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.router-link, .b-button {
  margin: 0 10px;
}

</style>
