<template >
  <div class="app-menu min-vh-100">
   <b-img  src="../assets/BID.png" width="100%" center style="padding: 10pt;"></b-img>
   <b-nav vertical >

    <router-link to ="/">Home</router-link>

    <router-link to ="/about">About</router-link>
    <router-link class="menu-item" to="/product" v-if="showProduct()">Product</router-link>

    <b-button @click="logout()" v-if="isLogin" >Logout</b-button>

    <b-nav-item to="./App">หน้าหลัก</b-nav-item>
</b-nav>
<b-dropdown split text="หมวดหมู่สินค้า" class="m-2" >
 <b-dropdown-item to ="Toy" href="#">ของเล่นเเละเกม</b-dropdown-item>
 <b-dropdown-item href="#">วัฒนธรรมเเละงานอดิเรก</b-dropdown-item>
 <b-dropdown-item href="#">ของโบราณและของสะสม</b-dropdown-item>
 <b-dropdown-item href="#">กีฬา</b-dropdown-item>
 <b-dropdown-item href="#">รถยนต์และมอเตอร์ไซค์</b-dropdown-item>
 <b-dropdown-item href="#">แฟชั่น</b-dropdown-item>
 <b-dropdown-item href="#">เครื่องประดับและนาฬิกา</b-dropdown-item>
 <b-dropdown-item href="#">สุขภาพและความงาม</b-dropdown-item>
 <b-dropdown-item href="#">อาหารและเครื่องดื่ม</b-dropdown-item>
 <b-dropdown-item href="#">บ้านและการตกเเต่งภายใน</b-dropdown-item>
 <b-dropdown-item href="#">เครื่องเขียน อุปกรณ์</b-dropdown-item>
 <b-dropdown-item href="#">อุปกรณ์การเกษตร ดอกไม้ พืชสวน</b-dropdown-item>
 <b-dropdown-item href="#">สินค้าสำหรับเด็ก</b-dropdown-item>
 <b-dropdown-item href="#">ของสะสมไอดอล</b-dropdown-item>
 <b-dropdown-item href="#">สินค้าการ์ตูนและอนิเมะ</b-dropdown-item>
 <b-dropdown-item href="#">อื่นๆ</b-dropdown-item>
</b-dropdown>
<!-- <b-nav-item to="./Manager">จัดการหลังร้าน(ชั่วคราว)</b-nav-item>
<b-nav-item to="./DataTable">เมนูสินค้า</b-nav-item> -->
<!-- <b-button @click="logout()"  v-if="isLogin"> Logout</b-button> -->

</div>

</template>
<script>
export default {
  data () {
    return {

    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }

  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>
<style >
.app-menu{
background-color: lightblue;
}
.nav-link {
color: black;

}
.nav-link:hover {
color: lightgray;
}

</style>
