<template >
  <div >
    <b-navbar class="navbar" >
      <b-navbar-brand href="#">BIDBID</b-navbar-brand>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>

          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          <!-- <router-link to ="About">Login</router-link> -->
        </b-nav-form>

      </b-navbar-nav>

    </b-navbar>
  </div>
</template>
<script>

</script>

<style >
/* .navbar {
  background-color:lightblue

} */
</style>
