<template>
    <div id="main">
        <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        background="#ababab"
        img-width="1024"
        img-height="480"
        style="text-shadow: 1px 1px 2px #333;"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          caption="พบกับสินค้าเครื่องประดับ"
          text="FROM BIDBID"
          img-src="https://images6.alphacoders.com/470/thumbbig-470333.webp
"
        ></b-carousel-slide>

        <!-- Slides with custom text -->
        <b-carousel-slide img-src="https://images7.alphacoders.com/695/thumbbig-695950.webp
">
          <h1>อัญมณีมากมาย</h1>
        </b-carousel-slide>

        <!-- Slides with image only -->
        <b-carousel-slide img-src="https://images6.alphacoders.com/350/thumbbig-350607.webp
">
          <h1>สวยมากก</h1>
        </b-carousel-slide>

        <!-- Slides with img slot -->
        <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
        <b-carousel-slide>
          <template #img>
            <img
              class="d-block img-fluid w-100"
              width="1024"
              height="480"
              src="https://images5.alphacoders.com/501/thumbbig-501238.webp"
              alt="image slot"
            >
          </template>
        </b-carousel-slide>
      </b-carousel>
        <b-container fluid >
            <b-row>
                <b-col>
                    <p class="one">สินค้า</p>
                </b-col>
            </b-row>
  <b-row>
    <!-- 1 -->
      <b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
    <b-img thumbnail fluid :src="products[12].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
    <b-row class="d-flex justify-content-center">
      <b-col>สินค้า</b-col>
      <b-col>{{ products[12].product_name}}</b-col>
    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคา</b-col>
      <b-col class="red-text">{{ products[12].price}}</b-col>
      <b-col>บาท</b-col>
    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคาบิด</b-col>
      <b-col> {{ products[12].minimum_bid_price}}</b-col>
      <b-col>บาท</b-col></b-row>
    <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/ Jewelry1">ซื้อเลย </b-button></b-row>
  </b-col>
  <!-- 2 -->
  <b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
    <b-img thumbnail fluid :src="products[13].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
    <b-row class="d-flex justify-content-center">
      <b-col>สินค้า</b-col>
      <b-col>{{ products[13].product_name}}</b-col>

    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคา</b-col>
      <b-col class="red-text">{{ products[13].price}}</b-col>
      <b-col>บาท</b-col>
    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคาบิด</b-col>
      <b-col> {{ products[13].minimum_bid_price}}</b-col>
      <b-col>บาท</b-col></b-row>
    <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/ Jewelry2">ซื้อเลย </b-button></b-row>
  </b-col>
  <!-- 3 -->
  <b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
    <b-img thumbnail fluid :src="products[14].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
    <b-row class="d-flex justify-content-center">
      <b-col>สินค้า</b-col>
      <b-col>{{ products[14].product_name}}</b-col>

    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคา</b-col>
      <b-col class="red-text">{{ products[14].price}}</b-col>
      <b-col>บาท</b-col>
    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคาบิด</b-col>
      <b-col> {{ products[14].minimum_bid_price}}</b-col>
      <b-col>บาท</b-col></b-row>
    <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/ Jewelry3">ซื้อเลย </b-button></b-row>
  </b-col>
  <!-- 4 -->
  <b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
    <b-img thumbnail fluid :src="products[15].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
    <b-row class="d-flex justify-content-center">
      <b-col>สินค้า</b-col>
      <b-col>{{ products[15].product_name}}</b-col>

    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคา</b-col>
      <b-col class="red-text">{{ products[15].price}}</b-col>
      <b-col>บาท</b-col>
    </b-row>
    <b-row class="d-flex justify-content-center">
      <b-col>ราคาบิด</b-col>
      <b-col> {{ products[15].minimum_bid_price}}</b-col>
      <b-col>บาท</b-col></b-row>
    <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/ Jewelry4">ซื้อเลย </b-button></b-row>
  </b-col>
  </b-row>
            </b-container>

    </div>
  </template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      products: [],
      product_name: '',
      category: null,
      price: null,
      minimum_bid_price: null,
      Auction_start_time: '',
      Auction_crossing_time: '',
      Auction_start_date: '',
      Auction_crossing_date: '',
      imagePath: null,
      status: null,
      product_details: '',
      slide: 0,
      sliding: null
    }
  },
  mounted () {
    this.getProduct()
    console.log('OK')
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    getProduct () {
      var self = this
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        self.products = response.data
        // this.productItem = response.data
        console.log(response.data)
      })
    }
  }
}
</script>
  <style>
  #one {
    font-weight: bold;
    color: black;
  }
  #main {
    background-color: lightgrey;

  }
  #button1{
  color:white;
  }
  p{
  color: black;
  }.post {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .post img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }.red-text {
    color: red;
  }

  </style>
