<template lang="">
    <div>
        <b-card
    title="การสั่งซื้อ"

  > <b-alert show variant="warning">การสั่งซื้อสินค้าเสร็จสิ้น</b-alert>
    <b-button href="#" variant="primary" to="/App">ออก</b-button>
  </b-card>

</div>
</template>
<script>
export default {

}
</script>
<style lang="">

</style>
