<template>
  <div id="main">
      <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="พบกับสินค้าจาก MAVEL"
        text="FROM BIDBID"
        img-src="https://images7.alphacoders.com/333/thumbbig-333363.webp"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="https://images7.alphacoders.com/389/thumbbig-389627.webp">
        <h1>รถของเล่นมากมาย</h1>
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide img-src="https://images4.alphacoders.com/551/thumbbig-551541.webp">
        <h1>ของเล่น</h1>
      </b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="480"
            src="https://images7.alphacoders.com/453/thumbbig-453373.webp"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>
    </b-carousel>
      <b-container fluid >
          <b-row>
              <b-col>
                  <p class="one">สินค้า</p>
              </b-col>
          </b-row>
<b-row>
  <!-- 1 -->
    <b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
  <b-img thumbnail fluid :src="products[0].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
  <b-row class="d-flex justify-content-center">
    <b-col>สินค้า</b-col>
    <b-col>{{ products[0].product_name}}</b-col>
  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคา</b-col>
    <b-col class="red-text">{{ products[0].price}}</b-col>
    <b-col>บาท</b-col>
  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคาบิด</b-col>
    <b-col> {{ products[0].minimum_bid_price}}</b-col>
    <b-col>บาท</b-col></b-row>
  <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/AuctionToy/:_id">ซื้อเลย </b-button></b-row>
</b-col>
<!-- 2 -->
<b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
  <b-img thumbnail fluid :src="products[1].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
  <b-row class="d-flex justify-content-center">
    <b-col>สินค้า</b-col>
    <b-col>{{ products[1].product_name}}</b-col>

  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคา</b-col>
    <b-col class="red-text">{{ products[1].price}}</b-col>
    <b-col>บาท</b-col>
  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคาบิด</b-col>
    <b-col> {{ products[1].minimum_bid_price}}</b-col>
    <b-col>บาท</b-col></b-row>
  <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/AuctionToy2">ซื้อเลย </b-button></b-row>
</b-col>
<!-- 3 -->
<b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
  <b-img thumbnail fluid :src="products[2].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
  <b-row class="d-flex justify-content-center">
    <b-col>สินค้า</b-col>
    <b-col>{{ products[2].product_name}}</b-col>

  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคา</b-col>
    <b-col class="red-text">{{ products[2].price}}</b-col>
    <b-col>บาท</b-col>
  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคาบิด</b-col>
    <b-col> {{ products[2].minimum_bid_price}}</b-col>
    <b-col>บาท</b-col></b-row>
  <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/AuctionToy2">ซื้อเลย </b-button></b-row>
</b-col>
<!-- 4 -->
<b-col class="border border-dark col-12 col-sm-6 col-md-4 col-lg-3">
  <b-img thumbnail fluid :src="products[3].imagePath" alt="Image 3" style="border: 1px solid black;"></b-img>
  <b-row class="d-flex justify-content-center">
    <b-col>สินค้า</b-col>
    <b-col>{{ products[3].product_name}}</b-col>

  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคา</b-col>
    <b-col class="red-text">{{ products[3].price}}</b-col>
    <b-col>บาท</b-col>
  </b-row>
  <b-row class="d-flex justify-content-center">
    <b-col>ราคาบิด</b-col>
    <b-col> {{ products[3].minimum_bid_price}}</b-col>
    <b-col>บาท</b-col></b-row>
  <b-row class="d-flex justify-content-center"><b-button variant="danger" to="/AuctionToy4">ซื้อเลย </b-button></b-row>
</b-col>
</b-row>
          </b-container>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      products: [],
      product_name: '',
      category: null,
      price: null,
      minimum_bid_price: null,
      Auction_start_time: '',
      Auction_crossing_time: '',
      Auction_start_date: '',
      Auction_crossing_date: '',
      imagePath: null,
      status: null,
      product_details: '',
      slide: 0,
      sliding: null
    }
  },
  mounted () {
    this.getProduct()
    console.log('OK')
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    getProduct () {
      var self = this
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        self.products = response.data
        // this.productItem = response.data
        console.log(response.data)
      })
    }
  }
}
</script>
<style>
#one {
  font-weight: bold;
  color: black;
}
#main {
  background-color: lightgrey;

}
#button1{
color:white;
}
p{
color: black;
}.post {
  width: 100%;
  height: 100%;
  text-align: center;
}

.post img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}.red-text {
  color: red;
}

</style>
